.card{
    display: flex;
    flex-direction: column;
    border: 1px, solid black;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14) , 0px 3px 1px -2px rgba(0,0,0,0.12) , 0px 1px 5px 0px rgba(0,0,0,0.2);
    /* flex-grow: 1; */
}
/* https://boxshadows.com/presets per le shadow */
/* https://www.svgrepo.com/vectors/wine/  per le icone */

main{
    display:  flex;
}
.alignText{
    text-align: center;
}